language: go
go:
- 1.11
install:
- export GO111MODULE=on
- export GOFLAGS=-mod=vendor
script:
- make build
before_install:
- openssl aes-256-cbc -K $encrypted_77c632e14709_key -iv $encrypted_77c632e14709_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
after_success:
- chmod 600 ~/.ssh/id_rsa
- ssh sundogrd@sundogrd.com -o StrictHostKeyChecking=no 'cd ~/content-api && git pull && make build'
